          * {
               margin: 0;
               padding: 0;
               box-sizing: border-box;
          }

          body {
               background: rgb(0,21,36);
               background: linear-gradient(180deg, rgba(0,21,36,1) 0%, rgba(0,15,29,1) 0%, rgba(0,53,97,1) 100%);
               font-family: 'Playpen Sans', cursive;
               font-family: 'Poppins', sans-serif;
               font-family: 'Roboto Condensed', sans-serif;
          }

          nav {
               display: flex;
               justify-content: space-around;
               align-items: center;
               height: 80px;
               font-weight: 10px;
               background-color: #ff9800;

          }

          .left:hover {
               transition: 3s;
               
               /* background: linear-gradient(rgb(8, 8, 59)); */
               /* font-size: 2rem; */
          }

          nav ul {
               display: flex;
               justify-content: center;
          }

          nav ul li {
               list-style: none;
               margin: 0px 10px;
               font-size: 20px;
          }

          nav ul li a {
               text-decoration: none;
               /* font-size: 20px; */
               font-weight: bold;
               color: rgba(0,53,97,1);
               transition: 0.5s;
          }

          nav ul li a:hover {
               font-size: 22px;
               letter-spacing: 2px;

               color: whitesmoke
          }
          /* font for Anup's portfolio */
          @font-face {
                    font-family: myFirstFont;
                    src: url(samarkan/SAMAN___.TTF);
          }
          .left {
               font-size:45px;  
               font-weight: bold;
               font-family: myFirstFont;
               color: rgb(41,73,131);
               
          }

          .section {
               display: flex;
               justify-content: space-around;
               align-items: center;
               margin: 100px 0;
          }

          section>div {
               width: 30%;
          }

          .Section-left {
               margin-top: 80px;
               font-size: 3rem;
               color:#ff9800;
               font-weight: bold;

          }
          .Section-left .btn{
               padding: 11px;
               background: transparent;
               font-size: 15px;
               border: 2px solid white;
               border-radius: 7px;
               cursor: pointer;
          }

          .Section-left .btn:hover{
               background-color: azure;
               color: rgba(0,53,97,1);
               }
         

          .btn{
               text-decoration: none;
               color: white;
          }          
          .decor {
               color: #b2b7eb;
          }

          .Section-right {
               width: 30%;
               margin: 30px 0px;
          }

          #element {
               color: white;
               text-decoration: underline;
          }

          .section2 {
               max-width: 80vw;
               margin: auto;
               height: 80vh;
               color: white;
          }

          main hr {
               border: 0;
               background: gold;
               height: 2px;
               margin: 40px 84PX;
          }
          .sect_span{
               font-size: 2rem;
          }

          .section2 h1 {
               font-size: 3rem;
          }

          .box {
               background: white;
               width: 80vw;
               height: 2px;
               margin: 30px 0;
               display: flex;
               justify-content: space-around;
          }

          .section2 .vertical {
               height: 70px;
               width: 1px;
               background: white;
               margin: 0 80px;
          }

          .image {
               width: 25px;
               position: relative;
               top: -27px;
               left: -11px;
          }

          .verticle-title {
               position: relative;
               width: 150px;
               top: 43px;
               left: 5px;
               color: gold;
               font-weight: bold;
               text-decoration: underline;

          }

          .verticle-desc {
               position: relative;
               top: 43px;
               font-size: 10px;
               width: 160px;
          }
           .character{
               font-size: 15px;
               font-weight: bold;
               color: #f3ee64;
               text-decoration: underline;
          }
          .verticle-desc ul li{
               color: #b2b7eb;
          }
         

          footer {
               background: black;
               height: 170px;
               margin-top: 40px;
               color: #ff9800;
               
          }
          .first {
               font-size:45px;  
               font-weight: bold;
               font-family: myFirstFont;
               color: #ff9800;
               
          }
          .second{
               color: #b2b7eb;

          }

          .footer {
               display: flex;
               padding: 20px;
               justify-content: space-evenly;
               align-items: center;
          }
          .footer_head{
               font-size: 15px;
               font-weight: bold;
               font-family: Arial, Helvetica, sans-serif;
               color: #ff9800;
          }

          footer ul {
               list-style: none;
          }
          .second ul>li{
               font-size: 15px;
               padding-left: 10px;
          }
          
          footer .footer-right{
               text-align: center;
               padding-top: 10px;

          }
          